@import "tailwindcss";

@font-face {
    font-family: 'MyCustomFont';
    src: url('/font/MyCustomFont.woff') format('woff');
}

/* Apply globally */
html,
body {
    font-family: 'MyCustomFont', sans-serif;
}
#demo{
    scroll-margin-top: 80px; /* prevent navbar overlap */
}